body{

font-family:-apple-system, BlinkMacSystemFont;

margin:0;

background:#f2f7fc;

}

header{

background:#0057A4;

color:white;

padding:15px;

text-align:center;

}

.mese_nav{

display:flex;

justify-content:center;

gap:15px;

margin-top:10px;

}

button{

background:#0072ce;

color:white;

border:none;

padding:10px 16px;

border-radius:10px;

font-size:16px;

}

#calendar{

display:grid;

grid-template-columns:repeat(7,1fr);

gap:6px;

padding:10px;

}

.day{

background:white;

padding:12px;

border-radius:10px;

text-align:center;

box-shadow:0 2px 5px rgba(0,0,0,0.1);

}

.day.work{

background:#dff2ff;

}

.card{

background:white;

margin:12px;

padding:15px;

border-radius:12px;

box-shadow:0 3px 10px rgba(0,0,0,0.1);

}

table{

width:100%;

border-collapse:collapse;

}

th{

background:#0057A4;

color:white;

padding:8px;

}

td{

padding:8px;

border-bottom:1px solid #eee;

}

input{

padding:8px;

margin:5px;

width:95%;

}